In [2]:
import pandas as pd

# store passenger data of titanic
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

# each column in a Dataframe is a series
# just working with the data in column Age
df["Age"]

# to create a series from scratch
ages = pd.Series([22, 35, 58], name="Age")
ages

# max age of passengers on the Dataframe
df["Age"].max()
# max age on the series
ages.max()

# basic stats of the numerical data of my data table
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000